
/* .App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
} */

/* .day {
  background-color: skyblue;
} */

/* .text {
  font-size: 8em;
  font-family: monospace;
  max-width: 90%;
  border: 0px;
  text-align: center;
} */

/* .night {
  background-color: #282c34;
}

.text__night {
  color: white;
}

.text__day {
  color: yellow;
} */
